.cars-block {
    display: flex;
}

.cars-nav-category {
    width: 20% !important;
}

.cars-list-item {
    width: 80%;
}

.car-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.car-item {
    width: 25%;
    margin-left: 10px;
}

.car-item:first-child {
    margin-left: 0;
}

.img-thumbnail {
    height: 184px;
}